
<nav class="navbar">
  <img src="images/mudeboLogo.jpeg" class="logo">

    <ul class="nav-links">
      <li><a routerLink="/projects" routerLinkActive="active">PROJETS</a></li>
      <li><a routerLink="/activities" routerLinkActive="active">ACTIVITES</a></li>
      <li><a routerLink="/reglements" routerLinkActive="active">REGLEMENT INTERIEURE</a></li>
    </ul> 
    <ul class="nav-links">
        <li><a routerLink="/logout" routerLinkActive="active">Logout</a></li>
    </ul> 
</nav>

<div class="class1">
    <button (click)="SortbyNomFunc()">Nom A-Z</button>
    <button (click)="SortbyPrenomFunc()">Prenoms A-Z</button>
    <button (click)="SortbyLocationFunc()">Ville A-Z</button>
    <button (click)="SortbyRoleFunc()">Role A-Z</button>
    @if(loggedMember?.role==='Admin'){
        <button id="AjoutButton" [routerLink]="['/addmember']">Ajouter un membre</button>
    }
</div>
<div class="container mt-4">
    <!-- <hr> -->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="t1">Nom </th>
            <th class="t1">Prenoms</th>
            <th class="t1">Phone</th>
            <th class="t1">Location</th>
            <th class="t1">Role</th>
        </tr>
        </thead>

        <tbody>
            <!-- <tr >  -->
                @if (members()) {
                    @for (item of members(); track item.memberId){
                            <tr class="memb" [routerLink]="['/detailmember', item.memberId]">
                                <td class="t1">{{ item.nom }}</td>
                                <td class="t1">{{ item.prenoms }}</td>
                                <td class="t1">{{ item.phone }}</td>
                                <td class="t1">{{ item.location }}</td>
                                <td class="t1">{{ item.role }}</td>
                            </tr>
                    }
                }
            <!-- </tr>  -->
        </tbody>
  </table>
</div>


