/* navbar  */
/* app.component.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  // bottom: 50px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  background-color: #1976d2;
  color: #fff;
  z-index: 1000;
}

/* Simple styling */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a.active {
  font-weight: 600;
  text-decoration: underline;
}

/* Content area below fixed navbar */
.content {
  padding: 0.5rem;
//   margin-top: 60px; /* same as navbar height */
}
/* navbar end */

.t1{
    width: 20%;
}

.memb {
  background-color: red;
}
.memb:hover {
  transform: translateY(-2px);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.12);
  background-color: red;
}


.detailButton{
    background-color: blue;
}
.updateButton{
    background-color: green;
}
.deleteButton{
    background-color: red;
}

button{
    background-color: blue;
    color: white;
    border: none;
    // padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    // margin: 1rem;
    margin: auto;
}

.class1{
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    margin: 0;
    z-index: 1000;
    margin-top: 65px; /* if navbar is fixed */
}
.page-container {
  margin-top: 60px; /* if navbar is fixed */
}
a{
  padding: 10px 20px;
  border: none;
  // background-color: gray;
  transition: 0.3s;
}

a:hover {
  background-color: green;
  color: white;
}

#AjoutButton{
  background-color: green;
}

// logo

.logo {
  max-height: 50px;
  width: auto;
}

@media (max-width: 50px) {
  .logo {
    max-height: 50px;
  }
}
