
<nav class="navbar">
    <img src="images/mudeboLogo.jpeg" class="logo">
    <ul class="nav-links">
      <li><a routerLink="/members" routerLinkActive="active">MEMBRES</a></li>
      <li><a routerLink="/activities" routerLinkActive="active">ACTIVITES</a></li>
      <li><a routerLink="/reglements" routerLinkActive="active">REGLEMENT INTERIEURE</a></li>
    </ul> 
    <ul class="nav-links">
        <li><a routerLink="/logout" routerLinkActive="active">Logout</a></li>
    </ul> 
</nav>
<div class="class1">
    <button (click)="SortbyNomFunc()">Titre A-Z</button>
    <button (click)="SortbyPrenomFunc()">Status A-Z</button>
    <button (click)="SortbyDateFunc()">Date A-Z</button>
    @if(loggedMember()?.role==='Admin'){
        <button id="ajoutButton" [routerLink]="['/addaproject']">Ajouter Projet</button>
    }
</div>

@if (projects()) {
    <div class="container">
        @for (item of projects(); track item.projectId){
            <div class="member-card" [routerLink]="['/detailproject', item.projectId]">
                <img class="member-photo" src="{{item.projectPhotoUrl}}" alt="">
                <p>Titre: {{item.projectTitle}}</p>
                <!-- <p>Description: {{item.projectDescription}}</p> -->
                <!-- <p>Status: {{item.projectStatus}}</p> -->
                <!-- <p>Date: {{item.projectDate| date:'yyyy-MM-dd'}}</p> -->
                <button class="detailButton" [routerLink]="['/detailproject', item.projectId]">Detail</button>
            </div>                    
        }
    </div>
}

                    <!-- "projectId": 1,
                    "projectTitle": null,
                    "projectDescription": "yyyyyyyyyyyyyyyy",
                    "projectStatus": "Nouveau",
                    "projectDate": "2026-06-03T00:00:00",
                    "projectPhotoUrl": "http://localhost:5243/project-photo/df9001d9-a608-4fe7-a995-c26605956172mudeboLogo.jpeg" -->

