<nav class="navbar">
    <ul class="nav-links">
      <li><a routerLink="/members" routerLinkActive="active">MEMBRES</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">PROJETS</a></li>
      <li><a routerLink="/reglements" routerLinkActive="active">REGLEMENT INTERIEURE</a></li>
    </ul> 
    <ul class="nav-links">
        <li><a routerLink="/logout" routerLinkActive="active">Logout</a></li>
    </ul> 
</nav>

<div class="class1">
    <button (click)="SortbyNomFunc()">Titre A-Z</button>
    <button (click)="SortbyPrenomFunc()">Status A-Z</button>
    <button (click)="SortbyRoleFunc()">Date A-Z</button>
    <button id="ajoutButton" [routerLink]="['/addactivity']">Ajouter activite</button>
</div>

@if (activities()) {
    <div class="container">
        @for (item of activities(); track item.activityId){
            <div class="member-card">
                <img class="member-photo" src="{{item.activityPhotoUrl}}" alt="">
                <p>Title: {{item.activityDate}}</p>
                <p>Description: {{item.activityDescription}}</p>
                <p>Title: {{item.activityStatus}}</p>
                <button class="detailButton" [routerLink]="['/detailactivity', item.activityId]">Detail</button>
            </div>                    
        }
    </div>
}