

button {
  width: 25%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  transition: 0.3s;
}

button:hover {
  background-color: powderblue;
  color: white;
}
.btn:hover {
  background-color: green;
}


#deleteButton{
  background-color: red;
  margin: 5px;
}
#cancelButton{
  background-color: blue;
  margin: 5px;
}