
.class1{
    background-color: aqua;
    text-align: center;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
}
.class2{
    background-color: gray;
    width: 60%;
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    margin: 0 auto;
    padding: 5px;
    border: 15px solid red;  


}

.container {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  height: 100vh;
}

.center-box {
  width: 200px;
  height: 100px;
  background: lightblue;
}

