/* navbar  */
/* app.component.css */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1.5rem;
  background-color: #1976d2;
  color: #fff;
  z-index: 1000;
}

/* Simple styling */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a.active {
  font-weight: 600;
  text-decoration: underline;
}

.logo {
  max-height: 50px;
  width: auto;
}

@media (max-width: 768px) {
  .logo {
    max-height: 35px;
  }
}

